<!DOCTYPE html>
<html>
    <title>
        Bibliography formatter of YECL Style
    </title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
</html>
<body>
    <div id="main">
        <form action="/" method="POST">
            <textarea name="bibliography" id="data">{{ bibliography }}</textarea>
            <br>
            <label for="s_venue" style="float: right">Short Venue?</label>
            <input type="checkbox" id="s_venue" name="s_venue" value="yes">
            <br>
            <br>
            <button type="submit" id="submitButton">Format</button>
        </form>
    </div>
    <br>
    <div id="footer">
        <p>
            <a href="https://github.com/Leonana69/YECL-BibStyle">YECL Style Bibliography Formatter</a>
            © 2023 by Guojun Chen
        </p>
    </div>
</body>